<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/about.css">
</head>
<body>

	<!-- 

	nav
	
 -->
<div class='container-fluid blur'>
	  <nav class="navbar bg-none bg-sm-white  px-2">
		<div class="container-fluid px-2">
		  <a class="navbar-brand agl" href="../">Work</a>
		  <!-- <a class="nav-link agl px-2 email " aria-current="page" href="#">About</a> -->
		  <a class="nav-link agl" aria-current="page" href="#">Jacob Martin</a>
		  <!-- <a class="nav-link" aria-current="page" href="#">Info.</a> -->
	
		</div>
	  </nav>
</div>
	<!-- <div class="mephoto blur">
		<Img src="../public/images/mephoto.webp"  width="20%" height="auto"  class="centerphoto">
	</div> -->
	

	<div class="maincontent">
		

		<div class="container mb-3">
			<div class="row rowed  x2 blur agli d-none d-md-block mb-2 text-left mt-0">
				Who is this guy?
			</div>
			 <div class="row rowed  x3 blur  d-block d-md-none agli text-center mt-0">
				Who is this guy?
			</div> 
		
			
		</div>
			
		</div>
<div class="container  bio content ">
	<div class="row   align-content-center">
		<div class='col blur agr'>
		<p align=center >
			Hello! I'm Jacob Martin, a multi-disciplinary creative from Atlanta. I currently freelance as a designer for local Atlanta bands and artists, and I design and develop websites as well. 
		</p>
			
		<p align=center>
		I bring an open mind, open heart, and open ears to my design approach in order to reach many perspectives to find more and better solutions. I’m passionate about listening, observing, and learning as these qualities are foundational to good communication, and therefore, good design.</p>

			<p align=center>
		In my free time I enjoy rebuilding and riding UJM bikes, playing my guitar, and smoking meats on the grill. Thank you for taking the time to visit my site and please reach out if I can help you find creative solutions you're looking for.</p>
		</div>
</div>
	</div>
	
	<hr class='mt-2 hr1 content blur'>
	<div class="maincontent">
		

		<div class="container ">
			<div class="row rowed  x2r blur agli d-none d-md-block mb-0 text-left mt-0 ">
				Ok...but what's his deal?
			</div>
			 <!-- <div class="row rowed  x6r blur  d-block d-md-none agli text-center mt-0">
				Ok...but what's his deal?
			</div>  -->
		
			
		</div>
			
		</div>
	<div class='container mt-md-1 mt-1 skills content blur mb-3'>
		<div class='row mt-1'>
			<div class="col-sm-6 col-12 justify-content-end">
				<h5 class='text-center blur'>
					Services
				</h5>
				<ul class='text-center blur agl servicesskills '>
					<li class='servicesskills'>Graphic Design</li>
					<li class='servicesskills'>Web Design</li>
					<li class='servicesskills'>Illustration</li>
					<li class='servicesskills'>Branding</li>
					<li class='servicesskills'>Packaging Design</li>
					<li class='servicesskills'>Lettering</li>
				</ul>
			</div>
			<div class="col-sm-6 col-12 text-center mt-sm-0 mt-3 blur">
				<h5>
					Software
				</h5>
				<ul class="agl servicesskills">
					<li class='servicesskills'>Photoshop</li>
					<li class='servicesskills'>Illustrator</li>
					<li class='servicesskills'>After Effects</li>
					<li class='servicesskills'>Procreate</li>
					<li class='servicesskills'>Figma</li>
					<li class='servicesskills'>Indesign</li>
				</ul>
			</div>
		</div>
		
	</div>
	
	<div class='container mt-5 extras content blur'>
		<div class='row blur'>
			<div class='col-md-4 col-12 text-md-start text-center mb-4 mb-md-none'>
				<h5>
					Tastes
				</h5>
				<hr class="hrtaste">
				<ul>
					<li><a class="nav-link" href="https://www.are.na/jacob-martin" 
						   target="_blank" rel="noopener noreferrer">Are.na</a></li>
					<li><a class="nav-link" href="https://www.pinterest.com/jkm43554/" 
						   target="_blank" rel="noopener noreferrer">Pinterest</a></li>
					<li><a class="nav-link" href="https://open.spotify.com/user/1219608723?si=2F4AVqIDSCilq21zZ6zs-Q" 
						   target="_blank" rel="noopener noreferrer">Spotify</a></li>
				</ul>
			</div>
			<div class='col-md-4 col-12 text-center mb-4 mb-md-none'>
				<h5>
					Follow
				</h5>
				<hr class="hrfollow">
				<ul>
					<li><a class="nav-link" href="https://www.instagram.com/milkymadeco/" 
						   target="_blank" rel="noopener noreferrer">Instagram</a></li>
				</ul>
			</div>
			<div class='col-md-4 col-12 text-md-end text-center'>
				<h5>
					Contact
				</h5>
				<hr class="hrcontact">
				<ul>
					<li><a class="nav-link" href="mailto:jkm43554@gmail.com" 
						   target="_blank" rel="noopener noreferrer">jkm43554@gmail.com</a></li>
					<li><p class="nav-link">404-281-8604</p></li>
				</ul>
			</div>
		</div>
	</div>
	

		<footer class='content blur'>
  <p align='center' class='footer mt-5 '>2023 JKMilkcarton™</p>
</footer>

  
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
	
</body>
</html> 
