
.cosmiclatte{
	color:#FFF8E7;
}
@font-face {
    font-family: 'seawave';
    src: url('../fonts/seawave.otf');
}
.seaw{
	font-family: 'seawave';
}
@font-face {
    font-family: "park";
    src: url("../fonts/Parkford.otf");
}
.park{
	font-family:"park";
}
@font-face {
    font-family: "pic";
    src: url("../fonts/PicNic-Regular.woff");
}

.picn{
	font-family:"pic";
}
@font-face {
    font-family: "sig";
    src: url("../fonts/Sligoil-Micro.otf");
}
.sig{
	font-family:'sig';
}
@font-face {
    font-family: "agb";
    src: url("../fonts/AppleGaramond-Bold.ttf");
}
@font-face {
    font-family: "agbi";
    src: url("../fonts/AppleGaramond-BoldItalic.ttf");
}
@font-face {
    font-family: "agr";
    src: url("../fonts/AppleGaramond.ttf");
}
@font-face {
    font-family: "agri";
    src: url("../fonts/AppleGaramond-Italic.ttf");
}
@font-face {
    font-family: "agl";
    src: url("../fonts/AppleGaramond-Light.ttf");
}
@font-face {
    font-family: "agli";
    src: url("../fonts/AppleGaramond-LightItalic.ttf");
}


body {
	font-family: 'agr';
    width:100%;
	height:100vh;
	overflow: hidden;
    /* background: rgb(245,245,245); */
	background:white;
    color:#17181a;
    text-align: center;
	padding-bottom: env(safe-area-inset-bottom);
	font-size:1em;
	height: 100%;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}
.maincontent{
	overflow:scroll;
	margin-top:1em;
}
.navvy{
    border: 3px solid #000718;
	border-bottom: 15px solid #000718;
    border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-brand {
	text-decoration:none;
	color:#000718;
}
.nav-item a{
 color:#000718;
 font-weight: 100;
 /* font-size: 16px; */
}
.navbar-toggler-icon{
	background-image: url('../images/hamburger.svg');
	opacity: 1;
}
button,
button:active,
button:focus {
  outline: none;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler {
    outline:none;
	
}
/* .topnav{
	border-bottom:1px solid black;
} */
.bottomnav{
	/* border-top:1px solid black; */
}
.melogo{
	max-width:70%;
	height:auto;
}


/* .fixed-top-2{
	margin-top:50px;
} */

.jah{
	max-width:70%;
	height:auto;
}

.atl{

		/* display: block; */
		max-width: 70%;
		height: auto;
	  
}

.rowed{
	/* height:7em; */
	margin-top:3em;
}
.rowed2{
	/* height:10vh; */
}

@media (max-width:768px){
	.titles{
		font-size:50%;
	}

	.maincontent{
		overflow:scroll;
		/* height:90vh; */
		margin-top:1em;
	}
}



@media (max-width:576px){
	.rowed{
		/* margin-top:10vh;
		height:40vh; */
	}
	.rowed2{
		height:10vh;
	}
	.jah{
		max-width:100%;
		height:auto;
	}
}

@media (max-width:511px){
	.rowed{
		/* margin-top:10vh; */
		/* margin-bottom: 50px; */
		height:auto;
	}
	.jah{
		max-width:100%;
		height:auto;
	}
	
}





p{
	/* font-size:14px; */
}
.titles{
	/* font-size: 1.5em; */
	/* font-weight: 100; */
}

 /* .carousel-inner  {
	height:100vh;
  }  */


 .carousel{
	border: none;
	
	/* border-bottom: 15px solid black; */
    /* border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px; */
	/* position:relative; */
}

.carousel-item{
	z-index: -1;
}
/* .vids{
	border: 15px solid black;
	
	border-bottom: 30px solid black;
    border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
} */

.carousel .carousel-control-prev-icon {

	  background-image: url('../images/chevron-compact-left.svg');
	}
	
	.carousel .carousel-control-next-icon {
	
		background-image: url('../images/chevron-compact-right.svg');
		
	}
	

	.carousel-control-next-icon, .carousel-control-prev-icon {
		
		width: 2em;
		height: 2em;
		
		
	}
	
	

	.carousel-control-next {
		justify-content: end;
		padding-right: .5em;
		opacity:1;
		
	}
.carousel-control-prev {
		justify-content: start;
		padding-left: .5em;
		opacity:1;
	}

	
	.text_Border {
		/* border: 1px solid black; */
		/* border-top: 10px solid black; */
	/* border-bottom: 10px solid black; */
    border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	}

	
	  
	  .filterDiv {
		
		display: block; /* Hidden by default */
	  }
	  .show {
		display: block;
	  }

	  .buton{
		text-decoration: none;
		color:#000718;
	  }

	  .buton:hover{
		color: #000718;
		text-decoration: none;
	  }
	 .modal-content{
		width:100vh;
		height:50vh;
		border: 3px solid #000718;
	
	/* border-bottom: 15px solid black; */
    /* border-top-left-radius:10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px; */
	 }
	 .modal-header{
		border:none;
	 }

	 .modal-body{
		font-family: 'Helvetica';
		
		
	 }
	
	 .modal-backdrop {
		background-color: transparent;
	 }
.software{
	/* font-family: 'Helvetica'; */
	text-transform: capitalize;
}

.email {
	/* font-size: 16px; */

}
.contentsoon{
	
}
.checkGit {
	
}

.clickHere{
	color:#000718;
}

a.brand_guide{
	text-decoration:underline;
	color:#000718;
}

a.mmco{
	color:#000718;
}
.uppercase{
	text-transform: uppercase;
}
.capitalize{
	text-transform: capitalize;
}
.underline{
	text-decoration:underline;
}

.x2{
	font-size:2em;
}
.x4{
	font-size:4em;
}
.x6{
	font-size:6em;
}
.x8{
	font-size:8em;
}
.x10{
	font-size:10em;
}

.half{
	font-size:50%;
}

.fourth{
	font-size:.25em;
}
.sixth{
	font-size:.17em;
}
.eigth{
	font-size: .125em;
}
.tenth{
	font-size:.1em;
}

.x2r{
	font-size:2vw;
}
.x4r{
	font-size:4vw;
}
.x6r{
	font-size:6vw;
}
.x8r{
	font-size:8vw;
}
.x10r{
	font-size:10vw;
}

.halfr{
	font-size:.5vw;
}

.fourthr{
	font-size:.25vw;
}
.sixthr{
	font-size:.17vw;
}
.eigthr{
	font-size: .125vw;
}
.tenthr{
	font-size:.1vw;
}



.darker{
		color:#000718;
}



a.darkref{
	color:#000718;
}

.invert{
/* mix-blend-mode: exclusion !important;
  will-change: mix-blend-mode; */
	mix-blend-mode: color-dodge !important;
    /* filter: invert(1)  blur(.9px)!important; */
  	transform: none !important;
}

/* .blur{
	filter: blur(.06vw);
}
.blurmore{
	filter:blur(.1vw)
} */

.tabcap{
	display:table-caption;
}

.nodec{
	text-decoration: none;
}
ul{
	list-style-type:none;
}

.lessthicklines{
	text-decoration-thickness: 4%;
}

a.standard:disabled {
    color: #666;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5em rgba(0,0,0,0.9) inset;
  z-index:2;
	 pointer-events:none;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.gallery-item.selected {
  transform: scale(1.2);
  z-index: 1;
}

.modules{
	width:50%;
}

.nospace{
	padding:0;
	margin:0;
}

.agb {
    font-family: "agb";
}
.agbi {
    font-family: "agbi";
}
.agr{
    font-family: "agr";
}
.agri {
    font-family: "agri";
}
.agl {
    font-family: "agl";
}
.agli {
    font-family: "agli";
}



.card-transparent{
	font-size:10%;
	width: 30vw;
	 height:auto;
}

.gallerydrag{
	/* background-color: #000718; */

	width:100%;
	height:100vh;
}


/* .tab { text-indent:1% } */
